
{% load blog_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--

Released for free under a Creative Commons Attribution 3.0 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>梅罢葛</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/blue/style.css" rel="stylesheet" type="text/css" />
<!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->


<!-- CuFon ends -->
</head>
<body>
<div class="main">

  <div class="header">
    <div class="header_resize">
      <div class="logo"><h1><a href="/myblog.html">梅罢葛</a> <small>夙兴夜寐，夕夜犹叹，庶竭驽钝，攘除BUG.</small></h1></div>
      <div class="menu_nav">
        <ul>
          <li><a href="/">首页</a></li>
          <li class="active"><a href="/myblog.html">博客</a></li>
          <li><a href="/message.html">留言板</a></li>
          <li><a href="/signup.html">注册</a></li>
          <li><a href="/login">登陆</a></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
          {% block main %}
          {% endblock main %}
      </div>


      <div class="sidebar">
        <div class="searchform">
          <form id="formsearch" name="formsearch" method="post" action="">
            <span><input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="学业繁忙，暂未开发" type="text" /></span>
            <input name="button_search" src="/static/blue/images/search_btn.gif" class="button_search" type="image" />
          </form>
        </div>
        <div class="gadget">
          <h2 class="star"><span>最新文章</h2><div class="clr"></div>
          {% get_recent_articles as recent_article_list %}
            <ul class="sb_menu">
                {% for article in recent_article_list %}
                <li>
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                </li>
                {% empty %}
                暂无文章！
                {% endfor %}
            </ul>
        </div>
        <div class="gadget">
          <h2 class="star">归档</h2><div class="clr"></div>
          {% archives as date_list %}

            <ul class="sb_menu">
            {% for date in date_list %}
            <li>
            <a href="{% url 'archives' date.year date.month %}">
                {{ date.year }} 年 {{ date.month }} 月
            </a>
            </li>
            {% endfor %}

            </ul>

        </div>
        <div class="gadget">
          <h2 class="star">分类</h2><div class="clr"></div>
          {% get_categories as category_list %}
            <ul class="sb_menu">
            {% for category in category_list %}
            <li>
                <a href="{% url 'category' category.pk %}">{{ category.name }}</a>
            </li>
            {% endfor %}
            </ul>
        </div>
        <div class="gadget">
          <h2 class="star"><span>友情链接</span></h2><div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="http://120.79.212.33" title="Website Templates">BUG上远愁人</a><br />BUG上远愁人的技术学习小站</li>

          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span></span></h2>
        <a href="#"><img src="/static/blue/images/pix1.jpg" width="58" height="58" alt="pix" /></a>
        <a href="#"><img src="/static/blue/images/pix2.jpg" width="58" height="58" alt="pix" /></a>
        <a href="#"><img src="/static/blue/images/pix3.jpg" width="58" height="58" alt="pix" /></a>
        <a href="#"><img src="/static/blue/images/pix4.jpg" width="58" height="58" alt="pix" /></a>
        <a href="#"><img src="/static/blue/images/pix5.jpg" width="58" height="58" alt="pix" /></a>
        <a href="#"><img src="/static/blue/images/pix6.jpg" width="58" height="58" alt="pix" /></a>
      </div>
      <div class="col c2">
        <h2><span></span></h2>
        <p><br /></p>
      </div>
      <div class="col c3">
        <h2><span>Contact</span></h2>
        <p>You can contact me in these ways.(ಥ _ ಥ)</p>
        <p><a href="mailto:708801794@qq.com">708801794@qq.com</a></p>
        <p>QQ:708801794<br />WeChat: Apollos_</p>
        <p>Welcome!</p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy;Apollos</p>
      <ul class="fmenu">
        <li><a href="/">首页</a></li>
          <li class="active"><a href="/myblog.html">博客</a></li>
          <li><a href="/message.html">留言板</a></li>
          <li><a href="/signup.html">注册</a></li>
          <li><a href="/login">登陆</a></li>
      </ul>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>